**/.DS_Store
**/.commit
**/.gitignore
**/*_darwin64
**/*_Darwin

**/.gitignore
**/.dockerignore
**/workdir/*
**/Dockerfile

out.log
extras/
debug/
target/
supp_docs/
*.fa
*.fasta
*.seq
*.ins
test*
junk*
.nfs*
*pem
