**/.DS_Store
**/.commit
**/.gitignore
**/*_darwin64
**/*_Darwin

**/.gitignore
**/.dockerignore
**/workdir/*
**/Dockerfile

out.log
debug/
*.fa
*.fasta
*.seq
*.ins
test*
junk*
.nfs*

**/lib/*
!**/lib/sswsort/
!**/dais-ribosome/lib/sampling/partitionByField.pl
!**/dais-ribosome/lib/editMSA/reviseTaxa.pl
!**/dais-ribosome/lib/editMSA/codonCorrectStats.pl
!**/dais-ribosome/lib/editMSA/stripSequences.pl
!**/dais-ribosome/lib/convert/sam2fasta.pl
!**/dais-ribosome/lib/convert/delim2fasta.pl
!**/dais-ribosome/lib/convert/fa2delim.pl
!**/dais-ribosome/lib/convert/nt2aa.pl
