# Legacy, dev and packaged folders
/debug
/lib
/workdir
/supp_docs
/extras
/sswsort_res
/ribosome
/target

# Logs, input and output
log*.txt
out.log
*.fa
*.fasta
*.seq
*.ins
*.gen
*.del
junk*
i
d
s
g.*
*.sql

# Docs
*bak

# System files
.DS*
.nfs*

# Tests folder but not test files
/*test*
!/tests/
